{% extends "notes/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}">
{% endblock %}
{% block body_block %}
<div container="file_python"><br><br><br>
  <div class="container-fluid text-center note_python">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
      </div>
      <div class="col-sm-8 text-left">
        {% for note in python_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in java_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in javascript_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in mysql_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in machine_learning_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in front_end_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in django_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
        {% for note in c_list %}
        <div class="note">
          <h1><a href="">{{ note.title }}</a>
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
          </h1><hr>
          <div class="date">
              <p>Published: {{ note.published_date }}</p>
              <p>Author: {{ note.author }}</p><br>
          </div>
          <p>{{ note.content|linebreaksbr }}</p><hr>
        </div>
        {% endfor %}
      </div>

      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>



{% endblock %}
